[supervisord]
loglevel = ERROR


[program:cif-router]
command = cif-router -d
autostart = true
stderr_logfile = {{ shared_path/log }}/cif-router.log

[program:cif-httpd]
command = cif-httpd -d
autostart = true
stderr_logfile = {{ shared_path/log }}/cif-httpd.log

[program:csirtg-smrt]
command = csirtg-smrt -d --remember --service --client cif --service
autostart = true
stderr_logfile = {{ shared_path/log }}/csirtg-smrt.log
