CIF_LOGLEVEL=INFO

CIF_RUNTIME_PATH={{ cif_runtime_path }}
CIF_STORE_STORE={{ cif_store_store }}
CIF_ROUTER_CONFIG_PATH={{ cif_router_config_path }}

CSIRTG_SMRT_RUNTIME_PATH={{ csirtg_smrt_runtime_path }}
CSIRTG_SMRT_CONFIG_PATH={{ csirtg_smrt_config_path }}
CSIRTG_SMRT_RULES_PATH={{ csirtg_smrt_rules_path }}/default
CSIRTG_SMRT_CACHE_PATH={{ csirtg_smrt_runtime_path }}
