[supervisord]
loglevel = ERROR


[program:cif-router]
command = cif-router
autostart = true
stderr_logfile = "{{ shared_path/log }}/cif-router.log

[program:cif-storage]
command = cif-storage
autostart = true
stderr_logfile = cif-storage.log

[program:cif-httpd]
command = cif-httpd
autostart = true
stderr_logfile = cif-httpd.log

[program:cif-hunter]
command = cif-hunter
autostart = true
stderr_logfile = cif-hunter.log

[program:cif-smrt]
command = cif-smrt
autostart = true
stderr_logfile = cif-smrt.log
