[Unit]
Description=cif-hunter service

[Service]
Type=simple
User=cif
Group=cif
PIDFile=/run/cif-hunter.pid
ExecStart=/usr/bin/cif-hunter
KillMode=process
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=5
PrivateTmp=true

EnvironmentFile=/etc/cif.env

[Install]
WantedBy=multi-user.target