[Unit]
Description=cif-store service

[Service]
Type=simple
User=cif
Group=cif
PIDFile=/run/cif-store.pid
ExecStart=/usr/bin/cif-store --store sqlite
KillMode=process
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=5
PrivateTmp=true

EnvironmentFile=/etc/cif.env

[Install]
WantedBy=multi-user.target