[Unit]
Description=cif-httpd service

[Service]
Type=simple
User=cif
Group=cif
PIDFile=/run/cif-httpd.pid
ExecStart=/usr/bin/cif-httpd
KillMode=process
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=5
PrivateTmp=true
#WorkingDirectory=/home/node/Node/


# https://coreos.com/os/docs/latest/using-environment-variables-in-systemd-units.html
EnvironmentFile=/etc/cif.env

[Install]
WantedBy=multi-user.target