[Unit]
Description=csirtg-smrt service

[Service]
Type=simple
User=cif
Group=cif
PIDFile=/run/csirtg-smrt.pid
ExecStart=/usr/bin/csirtg-smrt --remember --service --client cif --fireball --delay 5
KillMode=process
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=5
PrivateTmp=true

EnvironmentFile=/etc/cif.env

[Install]
WantedBy=multi-user.target
