prune packaging
include README.md packaging/rpm/bearded-avenger.spec COPYING requirements.txt
include Makefile
include VERSION
include MANIFEST.ininclude versioneer.py
include 'cif'
include cif/_version.py
