prune packaging
include README.md COPYING requirements.txt LICENSE
include Makefile
include VERSION
include MANIFEST.ininclude versioneer.py
include 'cif'
include cif/_version.py
recursive-include deployment *
recursive-include hacking *
recursive-include docs *
recursive-include packaging *
recursive-include rules *
recursive-exclude deployment *
