setuptools>=36
cython>=0.2
pyzmq>=16.0.2,<17.0
csirtg_indicator==0.0.0b24
cifsdk==3.0.0b4
Flask-Limiter>=0.9.4,<1.0
limits>=1.1.1,<1.2
maxminddb>=1.2.0,<1.3
geoip2>=2.2.0,<2.3
pygeoip==0.3.2
dnspython>=1.15.0,<1.16
Flask==0.12.2
flask-cors>=3.0,<4.0
PyYAML>=3.11,<4.0
SQLAlchemy>=1.0.14,<1.1
elasticsearch>=5.3,<5.5
elasticsearch-dsl>=5.3,<5.5
ujson>=1.35
html5lib==1.0b8 # bug in csirtg-smrt upstream
msgpack-python>=0.4.8,<0.5.0
apwgsdk==0.0.0a6
csirtg_smrt==0.0.0b7
csirtg_dnsdb==0.0.0a4
tornado>=4.4.1,<5.0
faker==0.7.11
Flask-Bootstrap==3.3.6.0
gevent==1.2.1
gunicorn==19.7.1
