-e git+https://github.com/zeromq/pyre.git@ecc3ea7579a43016e1cbfea3773cb9ea96fb0498#egg=Pyre
-e git+https://github.com/csirtgadgets/csirtg-indicator-py.git@ec06e425888e029d44be5735492ff59bfbb7053a#egg=csirtg_indicator
-e git+https://github.com/csirtgadgets/bearded-avenger-sdk-py.git@e4487bb38ff4eb6c800b6e314d9603859ed1a18c#egg=cifsdk
-e git+https://github.com/csirtgadgets/csirtg-smrt-py.git@7dc1b4c3200da51d98b1fa22af2899c574d0f69a#egg=csirtg_smrt
mock>=2.0.0
pytest-cov>=2.2.1
Flask-Limiter>=0.9.3
limits==1.1.1
ipaddress>=1.0.16
feedparser>=5.2.1
nltk==3.2
ipaddr>=2.1.11
maxminddb>=1.2.0
geoip2>=2.2.0
dnspython>=1.12.0
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML>=3.11
SQLAlchemy>=0.9.9
Werkzeug==0.10.1
meld3>=1.0.2
passlib>=1.6.2
prettytable>=0.7.2
pyaml>=15.03.1
pyparsing>=2.0.3
python-magic>=0.4.6
pytricia>=0.9.0
pyzmq==14.7.0
requests>=2.6.0
ujson>=1.35
urllib3>=1.10.2
pytest>=2.8.0
arrow>=0.6.0
