setuptools
cython>=0.2
pyzmq>=23.2.1
csirtg_indicator>=1.0.1,<2.0
cifsdk>=3.0.0rc4,<4.0
Flask-Limiter>=0.9.4,<=2.7.0
limits>=1.1.1,<=2.7.1
maxminddb>=2.2.0
geoip2>=2.8.0,<2.9
dnspython>=1.15.0,<=2.2.1
Flask>=1.0
flask-cors>=3.0,<4.0
PyYAML>=4.2b1
SQLAlchemy>=1.4.41
elasticsearch>=5.3,<5.5
elasticsearch-dsl>=5.3,<5.5
html5lib==1.0b8 # bug in csirtg-smrt upstream
msgpack-python>=0.4.8,<0.5.0
apwgsdk==0.0.0a6
csirtg_smrt>=1.0,<2.0
csirtg_dnsdb==0.0.0a4
tornado>=5.1.0
faker==0.7.10
Flask-Bootstrap==3.3.6.0
gevent>=21.12.0
gunicorn==20.1.0
urllib3>=1.26.5
requests>=2.27.1
ujson<=5.5.0

nltk>=3.6.6 # not directly required, pinned by Snyk to avoid a vulnerability