[Unit]
Description=csirtg-smrt service

[Service]
Type=simple
User=cif
Group=cif
PIDFile=/run/csirtg-smrt.pid
ExecStart=/usr/local/bin/csirtg-smrt -d --remember --service --client cif --service
KillMode=process
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=5
PrivateTmp=true

EnvironmentFile=-/etc/cif.env

[Install]
WantedBy=multi-user.target
