Source: bearded-avenger
Section: admin
Priority: optional
Standards-Version: 3.9.3
Maintainer: Wes Young <wes@csirtgadgets.org>
Build-Depends: cdbs, debhelper (>= 5.0.0)
Homepage: https://github.com/csirtgadgets/bearded-avenger

Package: bearded-avenger
Architecture: all
Depends: ${misc:Depends}
Description: The smartest way to consume threat intelligence
 The smartest way to consume threat intelligence
