[Unit]
Description=cif-hunters daemon

[Service]
Type=simple
User=cif
Group=cif
PIDFile=/run/cif-hunters.pid
ExecStart=/usr/bin/cif-hunters
KillMode=process
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=5
PrivateTmp=true

EnvironmentFile=/etc/cif.env

[Install]
WantedBy=multi-user.target