
{%- extends "layout.html" %}

    {% block body -%}
        <p><iframe id="cif overall" src="http://127.0.0.1:5601/app/kibana#/dashboard/Default?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-7d%2Cmode%3Aquick%2Cto%3Anow))" height="460" width="100%"></iframe></p>
        <p><iframe id="indicators alltime" src="http://127.0.0.1:5601/app/kibana#/dashboard/AWpxECHlCb3I08rmMGEu?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-5y%2Cmode%3Aquick%2Cto%3Anow))" height="255" width="33%"></iframe>
        <iframe id="indicators 7 days" src="http://127.0.0.1:5601/app/kibana#/dashboard/AWpxE4XoCb3I08rmMGEw?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-7d%2Cmode%3Aquick%2Cto%3Anow))" height="255" width="33%"></iframe>
        <iframe id="indicators 24 hours" src="http://127.0.0.1:5601/app/kibana#/dashboard/AWpxFchACb3I08rmMGHV?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-24h%2Cmode%3Aquick%2Cto%3Anow))" height="255" width="33%"></iframe>
        </p>

    {%- endblock body %}
