{%- extends "layout.html" %}

    {% block body -%}
        <p><iframe id="CIF Dashboard" src="https://3.87.119.77/app/kibana#/dashboard/Default?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-7d%2Cmode%3Aquick%2Cto%3Anow))" height="560" width="100%"></iframe></p>
        <p><iframe id="Indicators - All" src="https://3.87.119.77/app/kibana#/visualize/edit/AWozYxHhCsK3mIqW2mHm?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-5y%2Cmode%3Aquick%2Cto%3Anow))" height="275" width="33%"></iframe>
        <iframe id="Indicators - Last 7 Days" src="https://3.87.119.77/app/kibana#/visualize/edit/AWpxExi0Cb3I08rmMGEv?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-7d%2Cmode%3Aquick%2Cto%3Anow))" height="275" width="33%"></iframe>
        <iframe id="Indicators - Last 24 hours" src="https://3.87.119.77/app/kibana#/visualize/edit/AWozaGKZCsK3mIqW2mHo?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-24h%2Cmode%3Aquick%2Cto%3Anow))" height="275" width="33%"></iframe>
        </p>

    {%- endblock body %}
