{%- extends "layout.html" %}

{% block content %}

<table class="table table-striped" id="results">
    <thead>
        <th>Group</th>
        <th>TLP</th>
        <th>Indicator</th>
        <th>LastTime</th>
        <th>ReportTime</th>
        <th>Count</th>
    </thead>
    <tbody>
     {% for r in records: %}
      <tr>
        <td>{{ r['group'] }}</td>
        <td>{{ r['tlp'] }}</td>
        <td>{{ r['indicator'] }}</td>
        <td>{{ r['lasttime'] }}</td>
        <td>{{ r['reporttime'] }}</td>
        <td>{{ r['count'] }}</td>
      </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}