
{%- extends "layout.html" %}

{% block content %}
  <table id="search_results" class="display" style="width:100%">
    <thead>
      <tr>
        <th>LastTime</th>
        <th>Group</th>
        <th>TLP</th>
        <th>Indicator</th>
        <th>Provider</th>
        <th>Tags</th>
        <th>Confidence</th>
        <th>Protocol</th>
        <th>Portlist</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>LastTime</th>
        <th>Group</th>
        <th>TLP</th>
        <th>Indicator</th>
        <th>Provider</th>
        <th>Tags</th>
        <th>Confidence</th>
        <th>Protocol</th>
        <th>Portlist</th>
      </tr>
    </tfoot>
  </table>

<script>
function setupData() {
    $(document).ready(function () {
        var table = $('#search_results').DataTable({
            "ajax": {
                "url": "/u/indicators_get_data",
                "dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json"
            },
            "dom": 'Bfrtip',
            "buttons": [ 'colvis' ],
            "columns": [
                {"data": "lasttime", "defaultContent": ""},
                {"data": "group", "defaultContent": ""},
                {"data": "tlp", "defaultContent": ""},
                {"data": "indicator", "defaultContent": ""},
                {"data": "provider", "defaultContent": ""},
                {"data": "tags", "defaultContent": ""},
                {"data": "confidence", "defaultContent": ""},
                {"data": "protocol", "defaultContent": ""},
                {"data": "portlist", "defaultContent": ""}
            ]
        });

        new $.fn.dataTable.Buttons( table, {
            buttons: [ 'csvHtml5' ]
        });

        table.buttons( 1, null ).container().appendTo(
            table.table().container()
        );
    });
}
$( window ).on( "load", setupData );
</script>
{% endblock %}
