{%- extends "base.html" %}

<!doctype html>


<title>CIF</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>CIF</h1>

{% include "nav.html" %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        {% block body %}
        {%- endblock %}
    </div>
    <div class="col-md-2"></div>
</div>
</div>