{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://csirtgadgets.org">CIF</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if request.endpoint == '/u/search' %}
          <li class="active"><a href="/u/search">Search <span class="sr-only">(current)</span></a></li>
          {% if session['admin'] == True %}
          <li><a href="/u/tokens">Tokens</a></li>
          {% endif %}
        {% else %}
          <li><a href="/u/search">Search <span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="/u/tokens">Tokens</a></li>
        {% endif %}
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          {% set placeholder = 'evilbit.com' %}
          {% if request.endpoint == '/u/tokens' %}
            {% set placeholder = 'user@example.com' %}
          {% endif %}
          <input type="text" placeholder="{{ placeholder }}" class="form-control" name="q" id="q" size="72">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/u/logout">Logout ({{ session['username'] }})</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}