{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">CIF</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if request.endpoint == '/u/search' %}
          <li class="active"><a href="/u/search">Search <span class="sr-only">(current)</span></a></li>
          <li><a href="/u/submit">Submit</a></li>
          <li><a href="/u/tokens">Tokens</a></li>
        {% elif request.endpoint == '/u/submit' %}
          <li><a href="/u/search">Search <span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="/u/submit">Submit</a></li>
          <li><a href="/u/tokens">Tokens</a></li>
        {% elif request.endpoint == '/u/tokens' %}
          <li><a href="/u/search">Search <span class="sr-only">(current)</span></a></li>
          <li><a href="/u/submit">Submit</a></li>
          <li class="active"><a href="/u/tokens">Tokens</a></li>
        {% else %}
          <li class="active"><a href="/u/search">Search <span class="sr-only">(current)</span></a></li>
          <li><a href="/u/submit">Submit</a></li>
          <li><a href="/u/tokens">Tokens</a></li>
        {% endif %}
      </ul>

      {% if request.endpoint in ['/u/search', '/u/submit'] or (request.endpoint == '/u/tokens' and not session['admin']) %}
      <form class="navbar-form navbar-left" action="/u/search">
        <div class="form-group">
          {% if request.endpoint == '/u/tokens' %}
            {% set placeholder = 'user@example.com' %}
          {% endif %}

          <input type="text" placeholder="Indicator" class="form-control" name="q" id="q">
          <select class="form-control" id="confidence" name="confidence">
                <option value="7">Low</option>
                <option value="8" selected="1">Medium</option>
                <option value="9">High</option>
              </select>
          <input type="text" placeholder="provider" class="form-control" name="provider" id="provider">
          <input type="text" placeholder="group" class="form-control" name="group" id="group">
          <input type="text" placeholder="tags" class="form-control" name="tags" id="tags">
          <input type="date" class="form-control" name="lasttime">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      {% endif %}

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/u/logout">Logout ({{ session['username'] }})</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}