
{%- extends "layout.html" %}

{% block content %}

<div class="page-header">
    <h1>Submit</h1>
</div>
<div id="results"></div>
<form class="form-horizontal" id="myform" method="POST">
    <div class="form-group input-group-lg">
            <input class="form-control" type="text" placeholder="Indicator" id="indicator" name="indicator">
    </div>
    <div class="form-group input-group-lg">
        <input class="form-control" type="text" name="tags" placeholder="scanner, ssh, tag3, tag4" list="tags">
        <datalist id="tags">
            <option value="phishing">
            <option value="malware">
            <option value="exploit">
            <option value="botnet">
            <option value="scanner">
        </datalist>
    </div>
    <div class="form-group input-group-lg">
        <input class="form-control" type="text" placeholder="Short Description" id="description" name="description">
    </div>
    <div class="form-group input-group-lg">
        <input class="form-control" type="text" placeholder="Ports (21,23-25)" id="portlist" name="portlist">
    </div>
    <div class="form-group input-group-lg">
        <input class="form-control" type="text" placeholder="Alternate ID" id="altid" name="altid">
    </div>
    <div class="form-group input-group-lg">
        <select class="form-control" id="tlp" name="tlp">
            <option selected="1" value="amber">AMBER</option>
            <option value="red">RED</option>
            <option value="green">GREEN</option>
            <option value="clear">CLEAR</option>
        </select>
    </div>
    <div class="form-group input-group-lg">
        <select class="form-control" id="confidence" name="confidence">
            <option selected="1" value="">--Select Confidence--</option>
            <option value="7">Somewhat Confident - 7</option>
            <option value="8">Very Confident - 8</option>
            <option value="9">Certain - 9</option>
        </select>
    </div>
    <div class="form-group input-group-lg">
        <select class="form-control" id="group" name="group">
            {% for g in groups: %}
                <option name="{{ g }}">{{ g }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group input-group-lg">
        <button type="submit" class="btn btn-success" id="submitbutton">Submit</button>
    </div>
</form>


{% endblock %}
