{% extends "layout.html" %}

{% block content %}
<table class="table" id="results">
    <thead>
        <th></th>
        <th>Username</th>
        <th>Group</th>
        <th>Read</th>
        <th>Write</th>
        <th>Admin</th>
        <th>Token</th>
    </thead>

    <tbody>
        {% for r in records: %}
          <tr id="{{ r['token'] }}">
            <td>
                <form action="/u/tokens/{{ r['token'] }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
            <td><a href="/u/tokens?q={{ r['username']}}">{{ r['username'] }}</a></td>
            <td>{{ ','.join(r['groups']) }}</td>
            <td>{{ r['read'] }}</td>
            <td>{{ r['write'] }}</td>
            <td>{{ r['admin'] }}</td>
            <td><a href="/u/tokens/{{ r['token']}}">{{ r['token'][:10] }}...</a></td>
          </tr>

        {% endfor %}
    </tbody>

</table>

<hr>
<form action="/u/tokens/new" method="POST">

    {% include "tokens/form.html" %}

    <input type="hidden" name="_method" value="PUT" />
    <input type="submit" value="Create" />
</form>

{% endblock %}