if [ -f /etc/default/cif ] ; then
	source /etc/default/cif
fi

export CIF_RUNTIME_PATH={{ app_runtime_path }}
export CIF_SMRT_RULES_PATH={{ app_rules_path }}/default
export CIF_SMRT_CONFIG_PATH=/etc/cif/cif-smrt.yml
export CIF_HUNTER_CONFIG_PATH=/etc/cif/cif-hunter.yml