[Unit]
Description=cif-storage daemon

[Service]
Type=simple
User=cif
Group=cif
PIDFile=/run/cif-storage.pid
ExecStart=/usr/bin/cif-storage --store sqlite
KillMode=process
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=5
PrivateTmp=true

EnvironmentFile=/etc/cif.env

[Install]
WantedBy=multi-user.target