# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Install dependencies
        run: |
          sudo add-apt-repository -y ppa:maxmind/ppa
          sudo apt-get update
          sudo apt-get install geoipupdate libsnappy-dev docker

          python -m pip install --upgrade pip
          pip install setuptools --upgrade
          pip install -r dev_requirements.txt
          python setup.py develop
          make test
          python setup.py sdist
